<div class='row'>
  <div class='small-12 columns text-center'>
    <h2>Organizza con semplicità i tuoi orari universitari</h2>
  </div>
</div>
<div class='row'>
  <div class='small-12  columns'>
    <p><i>
      Decidere quali corsi seguire in un semestre può essere incubo di incastri, e il sito web dell'università non sembra venirci incontro.
      Ecco perché abbiamo creato questo sito: ne sentivamo il bisogno, e speriamo che torni utile anche a voi!
    </i></p>
  </div>
</div>
<div class='row text-center'>
  <div class='large-4 columns'>
    <%= link_to 'Accedi / Registrati', '#', class: 'button large' %>
  </div>
  <div class='large-4 columns'>
    <%= link_to 'Prova subito', study_plans_path, class: 'button large' %>
  </div>
  <div class='large-4 columns'>
    <%= link_to 'Accedi via Facebook', '#', class: 'button large' %>
  </div>
</div>
