<div class='row' style='padding-top: 3em'>
  <div class='small-12 columns text-center'>
    <h2>Organizza con semplicità i tuoi orari universitari</h2>
  </div>
</div>
<div class='row' style='padding: 1em'>
  <div class='small-12 columns'>
    <p><i>
      Decidere quali corsi seguire in un semestre può essere un incubo di incastri, e il sito web dell'università non sembra venirci incontro.
      Ecco perché abbiamo creato questo sito: ne sentivamo il bisogno, e speriamo che torni utile anche a voi!
    </i></p>
  </div>
</div>
<div class='row text-center'>
  <% if user_signed_in? %>
    <div class='small-12 columns'>
      <%= link_to 'Gestisci il tuo orario', study_plans_path, class: 'button large' %>
    </div>
  <% else %>
    <div class='large-4 columns'>
      <%= link_to 'Accedi / Registrati', new_user_session_path, class: 'button large' %>
  </div>
    <div class='large-4 columns'>
      <%= link_to 'Prova subito', study_plans_path, class: 'button large' %>
    </div>
    <div class='large-4 columns'>
      <%= link_to 'Accedi via Facebook', user_omniauth_authorize_path(:facebook), class: 'button large' %>
    </div>
  <% end %>
</div>

<a href="https://github.com/dropletzz/unibs-planning" target=_blank><img style="position: fixed; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png"></a>
