<table class='timetable'>
    <tr>
      <% Lesson::DAYS.each do |day| %>
        <th colspan=<%= timetable.day(day).columns_count %>>
          <h3><%= Lesson::DAYS_NAMES[day] %></h3>
        </th>
      <% end %>
    </tr>
  <% timetable.each_hour do |hour| %>
    <tr>
      <% hour.each do |lesson| %>
        <td>
            <%= lesson.course.name if lesson %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
